body {
  min-height: 568px;
  min-width: 320px;
  overflow: auto;
}

.login-form {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.login-form > .field {
  display: flex;
  flex-direction: row;
  width: 100%;
}

@media (max-width: 600px) {
  .login-form > .field {
    flex-direction: column;
  }
}

.login-form > .error {
  color: red;
  margin-top: 16px;
}

.login-form > .field > .password {
  background-color: #1a0633;
  background-color: light-dark(#1a0633, #1a0633);
  border-radius: 5px;
  border: 1px solid #A8C7FA;
  border: 1px solid light-dark(#A8C7FA, #F8BBD0);
  box-sizing: border-box;
  flex: 1;
  padding: 16px;
  color: #ffffff;
}

.login-form > .field > .password::placeholder {
  color: #9ca3af;
}

.login-form > .field > .password:focus {
  outline: 2px solid #A8C7FA;
}

.login-form > .user {
  display: none;
}

.login-form > .field > .submit {
  margin-left: 20px;
}

@media (max-width: 600px) {
  .login-form > .field > .submit {
    margin-left: 0px;
    margin-top: 16px;
  }
}

input {
  -webkit-appearance: none;
}
